@import "../../../../styles/variables";


.tile {
	margin-bottom: 1.5rem;

	box-shadow: $shadow-normal;

	.teaser {

	}

	.content {
		padding: 1rem 1.5rem;

		.headingWrapper {
			margin-bottom: 1rem !important;

			.headingSpan,
			.sublineSpan {
				display: block;
			}

			.headingSpan {
				font-weight: 900;
			}

			.sublineSpan {
				font-weight: normal;
			}
		}

		.teacher,
		.tags {
			margin-bottom: 1rem;

			font-size: 1rem;
			line-height: 1.25;
		}

		.tags {
			.tag {
				margin-right: 0.5rem;
				padding: 0.25rem;

				border-radius: 10000px;

				background: $light;
			}
		}
	}
}