$font-path-fhp-sun: "/src/styles/fonts/fhp-sun";


// $body-background-color: #1B1B1B;

// $text: #CECECE;
// $title-color: $text;

$primary: #44803f;

$text: black;
$title-color: black;
$family-primary: "FHP Sun";
$family-secondary: $family-primary;

$button-padding-horizontal: 0.7rem;
$button-padding-vertical: 0;
$button-border-width: 0.12rem;
$control-radius: 0.15rem;
$control-radius-small: 0.15rem;

.button {
	border-radius: $control-radius !important;

	font-weight: bold;
}


$shadow-small: 0 0.05rem 0.25rem rgba(0, 0, 0, 0.15);
$shadow-normal: 0 0.2rem 0.75rem rgba(0, 0, 0, 0.15);
$easing-default: 250ms ease-in-out;

// font
@import "./fonts/fhp-sun/index";


// bulma
@import '~bulma/sass/utilities/all';

// helper
@import "helper";