@import "src/styles/variables";


.tag {
	cursor: pointer;

	border: solid 0.06rem transparent;

	background: $light;

	transition:
			box-shadow $easing-default,
			border $easing-default,
			background-color $easing-default;

	&.special {
		background: lighten($primary, 45%);

		&.active {

		}
	}

	&:hover {
		background: darken($light, 5%);
	}

	&.active,
	&:hover {
		border: solid 0.06rem $text;
	}
}