@import "../../../../styles/variables";


.socialTile {
	margin-bottom: 1.5rem;

	iframe {
		border: none !important;
		border-radius: $control-radius !important;
		box-shadow: $shadow-normal !important;
	}

	.content {
		padding: 1rem 1.5rem;
	}

	.heading {
		font-weight: 900;
	}
}