@import "../../../styles/variables";


.toolbar {
	display: block;
	margin-bottom: 2rem;

	.tags {
		justify-content: center;
	}

	.resetButton {
		text-align: center;
		font-size: 0.75rem;

		opacity: 0;

		cursor: default;

		transition: opacity $easing-default;

		&.active {
			opacity: 1;

			span {
				cursor: pointer;
			}
		}

		span {
			padding: 0.25rem 0.5rem;
			text-decoration: underline;
		}
	}
}