$light-shadow: 0 0 1rem rgba(255, 255, 255, 1);


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-1rem);
	}

	60% {
		transform: translateY(-0.5rem);
	}
}

.hero {
	position: relative;

	height: auto;

	.logoWrapper {
		position: absolute;
		top: 1rem;
		left: 1rem;

		height: auto;

		padding: 1rem 1rem 0.6rem;

		border-radius: 0.25rem;

		.logo {
			width: 100%;
			max-width: 6rem;

			display: block;

			filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
		}
	}

	.fatHeading {
		font-weight: 900;
		text-shadow: $light-shadow;
	}

	.contentWrapper {
		max-width: 25rem;
		margin: 0 auto;
	}
}

